body {
  padding: 0;
  margin: 0;
  background-color: darkgray;
}

h1, h2, p {
  text-align: center;
}
 #c1, #c2 {
   text-align: center;
 }

 .triangle, .sawtooth, .square, .whnoise, .brnoise, .pknoise{
   text-align: center;
 }
